<!--<app-localitations></app-localitations>-->
<!--Main layout-->

<header>
  <div class="collapse bg-dark" id="navbarHeader">

  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>LOCATION</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>


<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Location</h1>
      <p class="lead text-muted">Images, names and species to which they belong to all the main and secondary characters, in addition to including the transformations of the characters, all the information obtained is up to the third season of the series.</p>
      <p>
        <a href="http://localhost:49533/Personaje" class="btn btn-primary my-2">Characters</a>
        <a href="http://localhost:49533/Localizacion" class="btn btn-secondary my-2">Location</a>
        <a href="http://localhost:49533/Frase" class="btn btn-primary my-2">Phrases</a>
        <a href="http://localhost:49533/Episodio" class="btn btn-secondary my-2">Chapters</a>
      </p>
    </div>
  </div>
</section>
</header>


<main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <!--<h4 class="mb-5"><strong>Latest posts</strong></h4>-->

        <div class="row">
          
          <div class="col-lg-6 mb-4">
            <div class="col" *ngFor="let localizacion of localizacion">
            <div class="card">
              

              
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{localizacion.img_url}}" alt="{{localizacion.name}}">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h2 class="card-title">{{localizacion.name}}</h2>
                <p class="card-text">
                  {{localizacion.inhabitants}}
                </p>
                <a href="#!" class="btn btn-primary">Read</a>
              </div>
            </div>
        </div>

          </div>


        </div>



      </section>
      <!--Section: Content-->


    </div>
</main>
  <!--Main layout-->
